@model IEnumerable<TiendaMvc.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de productos</h2>

@foreach (var item in Model)
{
    <div class="col-md-4">
        @Html.DisplayNameFor(o=>o.nombre)
        @Html.DisplayFor(o=>item.nombre)
        <br/>
        <h3>Almacenes</h3>
        @*<ul>*@
            @foreach (var alm in item.ProductoAlmacen)
            {
                @Html.Partial("_fichaAlmacen", alm.Almacen)
               

            }
        @*</ul>*@
        @Html.ActionLink("Ver","Detalle",
       new {nombre=item.nombre.Replace(" ","_")})
    </div> 

}

