@using System.Collections.Specialized
@using TiendaMvc.Models
@model IEnumerable<TiendaMvc.Models.Almacen>

@{
    ViewBag.Title = "title";
    var etiq = ViewBag.etiquetas as List<Etiqueta>;
}
<h1>
    @ViewData["Titulo"]
</h1>
@foreach (var et in etiq)
{
    <h3>@et.nombre</h3>
}
@foreach (var item in Model)
{
    @Html.Partial("_fichaAlmacen",item)
}


@section MiJavaScript
{
    <script>
        $(".borrame").click(function() {
            var r = confirm("Estas seguro?");
            if (r) {
                var id = $(this).attr("data-id");
                location.href = "@Url.Action("Borrar")" + "/" + id;


            }
        });
    </script>
}